.features {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 482px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwNSIgaGVpZ2h0PSI0ODIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBkPSJNODQuMjEyIDQ4MUMzMy4xNTIgNDQ3LjQ3IDAgNDA3Ljg4MSAwIDM2Mi43NDMgMCAyMDQuNTA1IDQ3OC42NzQgMCA2MzYuODQ3IDBjMTU4LjE3NCAwIDMzLjQzNCAxNzIuNzQxIDMzLjQzNCAzMzAuOTggMCA1NS43ODIgNi42NDYgMTA3LjAzNSA4LjMyMyAxNTAuMDJIODQuMjEyeiIgZmlsbD0iI0Y2RjhGQSIvPiAgICA8cGF0aCBkPSJNMTEwNC44MTcgNDgxLjI0MmwtODYxLjQ4NS0uMTdDMjExLjM4MiA0NTMuMjc4IDE5MiA0MjIuMDEzIDE5MiAzODcuNTA0IDE5MiAyMjkuMjggNDc3Ljc5MSA0IDYzNS45NyA0IDc5NC4xNDcgNCAxMjA1IDE0OS4zNTggMTIwNSAzMDcuNTgxYzAgNTkuNDQ1LTQwLjgyMyAxMjAuNTQzLTEwMC4xODMgMTczLjY2MXoiIGZpbGwtb3BhY2l0eT0iLjUiIGZpbGw9IiNGRkYiLz4gIDwvZz48L3N2Zz4=);
        background-size: 1205px 482px;
        background-repeat: no-repeat;
    }
}

.feature {
    padding-bottom: 70px;

    img {
        box-shadow: 0 3px 15px 0 rgba(51,51,79,.13);
    }
}

.feature-inner {
    height: 100%;
}

.feature-icon {
    position: relative;
    background: color(bg, 1);
    border-radius: 50%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        width: 80px;
		height: 80px;
        border-radius: 50%;
        @include shadow;
        mix-blend-mode: multiply;
    }
}

.feature-title {
    margin-top: 20px;
}

@include media( '>medium' ) {

    .features {

        &::before {
            left: 55%;
            width: 45%;
        }
    }

    .feature {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px 140px;

        .feature-content {
            width: 35%;
        }
        .feature-image {
            width: 58%;
        }

        &.feature-center {
            text-align: center;
            justify-content: center;

            .feature-icon {
                display: flex;
                justify-content: center;
            }
            .feature-content {
                width: 60%;
            }
        }

        &:last-child {
            padding-bottom: 70px;
        }
    }


    .feature-title {
        margin-top: 16px;
    }
}
